/* using active class applied by toc.js */
.toc-tree a.nav-link.active {
  text-decoration: underline;
}
.toc-tree li {
  width: 100%;
}
.toc-tree li li {
  width: 100%;
  padding-left: 1em;
}
.toc-tree li:not(.active) li {
  display: none;
}
